<form class="single_video_rating_content" action="{% url 'tube:advertising_video_mod' video.id %}">
    {% csrf_token %}
    <i class="far fa-thumbs-up single_video_rating_button rating_good {% if already_good %}already_good{% endif %}"></i>
    <span class="rating_num">{{ video.good.all|length }}</span>
</form>

<form class="single_video_rating_content" action="{% url 'tube:advertising_video_mod' video.id %}">
    {% csrf_token %}
    <i class="far fa-thumbs-down single_video_rating_button rating_bad {% if already_bad %}already_bad{% endif %}"></i>
    <span class="rating_num">{{ video.bad.all|length }}</span>
</form>
