{% for reply in r_to_replies %}
{% load static %}

<div class="comment_video_sub_inner">

    <div class="comment_video_sub_inner_left">
        <a href="{% url 'tube:usersingle' reply.user.id %}">
            {% if reply.user.usericon %}
                <div><img class="video_usericon" src="{{ reply.user.usericon.url }}" alt="icon"></div>
            {% else %}
                <div><img class="video_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></div>
            {% endif %}
        </a>
    </div>

    <div class="comment_video_sub_inner_right">
        <a href="{% url 'tube:usersingle' reply.user.id %}">{{ reply.user.handle_name }}</a>


        {# リプライ編集、削除、通報ボタン表示 #}
        <input id="r_to_reply_edit_menu_{{ reply.id }}" class="r_to_reply_edit_menu_button" type="checkbox">
            <label class="r_to_reply_edit_label" for="r_to_reply_edit_menu_{{ reply.id }}">
                <i class="fas fa-ellipsis-h"></i>
            </label>

            {% if request.user.id == reply.user.id %}
                {# 編集ボタン #}
                <input id="edit_{{ reply.id }}" type="checkbox" class="r_to_reply_edit_tab" name="r_to_reply_edit_tab" value="{{ reply.id }}">
                <label for="edit_{{ reply.id }}" class="r_to_reply_edit_tab_label rtor_edit_menu1" value="{{ reply.id }}"><i class="far fa-edit"></i></label>

                {# リプライ削除フォーム #}
                <form class="r_to_reply_delete_form_{{ reply.id}} rtor_edit_menu2" action="{% url 'tube:video_comment_r_to_reply_edit' reply.id %}" method="delete">
                    <input id="r_to_reply_delete1_{{ reply.id }}" type="button" class="r_to_reply_delete_button" value="{{ reply.id }}"><label for="r_to_reply_delete1_{{ reply.id }}" class="r_to_reply_edit_tab_label"><i class="fas fa-eraser"></i></label>
                </form>

            {% elif request.user.id == reply.target.user.id %}
                {# リプライ削除フォーム #}
                <form class="r_to_reply_delete_form_{{ reply.id}} rtor_edit_menu1" action="{% url 'tube:video_comment_r_to_reply_edit' reply.id %}" method="delete">
                    <input id="r_to_reply_delete2_{{ reply.id }}" type="button" class="r_to_reply_delete_button" value="{{ reply.id }}"><label for="r_to_reply_delete2_{{ reply.id }}" class="r_to_reply_edit_tab_label"><i class="fas fa-eraser"></i></label>
                </form>

                {# 通報ボタン #}
                <input id="report1_{{ reply.id }}" type="checkbox" class="r_to_reply_report_tab" name="r_to_reply_report_tab"><label for="report1_{{ reply.id }}" class="r_to_reply_report_tab_label rtor_edit_menu2"><i class="fas fa-bell"></i></label>
            {% else %}
                {# 通報ボタン #}
                <input id="report2_{{ reply.id }}" type="checkbox" class="r_to_reply_report_tab" name="r_to_reply_report_tab"><label for="report2_{{ reply.id }}" class="r_to_reply_report_tab_label rtor_edit_menu1"><i class="fas fa-bell"></i></label>
            {% endif %}



        {# リプライ内容 #}
        <div class="r_to_reply_content" id="report_target_{{ reply.id}}">{{ reply.content|linebreaksbr|urlize }}</div>

        {# 削除メッセージ部 #}
        <div id="r_to_reply_edit_message_{{ reply.id}}" class="js_message"></div>

        {# リプライ編集フォーム #}
        <form id="r_to_reply_update_form_{{ reply.id }}" class="r_to_reply_update_form" name="r_to_reply_update_form_{{ reply.id }}" action="{% url 'tube:video_comment_r_to_reply_edit' reply.id %}">
            {% csrf_token %}
            <textarea class="textarea_form" name="content" placeholder="コメントを編集する(500)。" maxlength="500">{{ reply.content }}</textarea>
            <button class="r_to_reply_edit_button btn btn-outline-primary btn-sm" value="{{ reply.id }}" type="button"><i class="far fa-paper-plane"></i></button>
        </form>

        {# 通報フォーム #}
        <form id="report_form_{{ reply.id }}" class="report_form" action="{% url 'tube:video_comment_reply_to_reply_report' request.user.id %}" method="POST">
            {% csrf_token %}
            <select class="select_form" name="category">
                <option value="">通報理由を選択してください</option>
                {% for category in report_categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% empty %}
                <option value="">カテゴリがありません。</option>
                {% endfor %}
            </select>
            <textarea class="textarea_form" name="reason" placeholder="報告理由をお書きください（200文字）。" maxlength="200"></textarea>
            <button class="report_submit btn btn-outline-primary btn-sm" value="{{ reply.id }}" type="button"><i class="far fa-paper-plane"></i></button>
        </form>

        <div class="video_comment_dt">{{ reply.dt|date:"Y-m-d h時" }}</div>

        <label id="r_to_reply_menu_closer" class="r_to_reply_menu_closer" for="r_to_reply_edit_menu_{{ reply.id }}"></label>

    </div>
</div>
{% endfor %}
