
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block head_title %}TubeIntegrity{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'allauth/css/style.css' %}">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        <div class="login_logout_page">
            {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                  {% for message in messages %}
                  <li>{{message}}</li>
                  {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div>
                <strong>Menu:</strong>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_change_password' %}">パスワード変更</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>

                    {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock %}

        </div>
        {% endblock %}

      {% block extra_body %}
      {% endblock %}
    </body>
</html>
