header {
    background:#FAF0E3;
    color:#FA9623;
}

.header_icon{

    font-size:2rem;
    padding:0.3rem;
    margin-left:0.5rem;
    color:#14D0FF;
    position:relative;
}
.header_icon:hover {
    color:#FA9623;
    transition:0.2s;
}

.usericon{
    width:3rem;
    height:3rem;
    padding:0.2rem;
    margin-left:0.5rem;
    margin-top: 0.3rem;
    border-radius:50%;
}

.header_notify_num {
    position:absolute;
    top:0.8rem;
    right:0;

    font-size:0.8rem;
    font-weight:bold;
    padding:0 0.25rem;
    color: white;
    background:#FF99FD;
    border-radius:1.5rem;

    user-select: none;
}


body {
    color:#222222;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,255,231,1) 80%, rgba(238,255,209,1) 100%);

}


img {
    max-width:100%;
}

.word {
    color:#72777D;
}
.word_blue {
    color:#61b0ff;
}

/* sidebar area */
.sidebar_content_area {
    display:flex;
    flex-wrap:wrap;
    margin:0 0.5rem;
}
.sidebar_content {
    width:50%;
}
.sidebar_icon{
    display:block;
    text-align:center;
    background:#D6F7FF;
    border:solid 1px #A0B3FA;
    color:#003CFF;
    padding:0.5rem;
    margin:0.2rem;
}
.sidebar_icon:hover,.sidebar_icon:active{
    color:#FA9623;
    background:white;
    transition:0.1s;
}
.sidebar_icon i {
    font-size:2.5rem;
    padding:0.5rem;
}
.sidebar_explain{
    font-size:1.2rem;
}


/* main area */
main {
    padding:0.5rem;
}

/* form style */

.input_form_text {
    display:block;
    width:80%;
    font-size:1rem;
    padding:0.25rem;
    margin-top:0.25rem;
    border:solid 0.1rem #F5B387;
    background:white;
    color:#615F5D;
    cursor:pointer;

    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}

.input_form_text:focus {
    outline:none;
}

.textarea_form {
    display:block;
    width:100%;
    font-size:1rem;
    color:#615F5D;
    padding:0.25rem;
    margin:0.25rem 0;
    border:solid 0.1rem #F5B387;
    background:white;
    resize:vertical;
    z-index:99;
}
.textarea_form:focus {
    outline:none;
}


.input_form_button {
    display:block;
    width:100%;
    font-size:1rem;
    padding:0.3rem;
    margin:0.25rem 0;
    color: #f76e00;
    border:solid 0.12rem #F5B387;
    border-radius: 0.25rem;
    cursor:pointer;
    color: #f76e00;
    background: rgb(189,255,170);
    background: linear-gradient(135deg, rgba(189,255,170,1) 0%, rgba(233,254,149,1) 50%, rgba(253,255,187,1) 100%);
    transition: .2s;
}
.input_form_button:hover {
    background: rgb(189,255,170);
    background: linear-gradient(40deg, rgba(189,255,170,1) 0%, rgba(227,255,114,1) 50%, rgba(251,255,129,1) 100%);
    color:#1C2245;
}
.input_form_button:focus {
    outline:none;
}
.input_form_button:active {
    background:#ffe380;
    transition:0.1s;
}


.select_form {
    font-size:1rem;
    padding:0.25rem;
    margin-top:0.25rem;
    border:solid 0.1rem #F5B387;
    background:white;
    color:#615F5D;
    cursor:pointer;

    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}

.select_form:focus {
    outline:none;
}

/* js-message */


.js_message {
    color:white;
    font-weight:bold;
    padding:0.25rem;
    margin:0.25rem 0rem;
}


/* upload.html */

.upload_message {
    color:white;
    font-weight:bold;
    padding:0.25rem;
    margin:0.25rem 0rem;
}
.upload_message_error{
    background:#FF4AAE;
}
.upload_message_success {
    background:#3BD43B;
}


.file_form {
    width:100%;
}
.thumbnail_create_area {
    display:flex;
    flex-wrap:wrap;
    height:15rem;
    margin:0.5rem 0;

}
.thumbnail_create_video {
    width:40%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.thumbnail_video {
    max-width:100%;
    height:100%;
}
.thumbnail_create_button {
    width:20%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;
}
.thumbnail_button {
    width:100%;
    height:100%;

    background:white;
    border:solid 0.2rem #FF9E4F;
    color:#FF9E4F;
    padding: 0;
    appearance: none;
    cursor:pointer;
}
.thumbnail_button:hover {
    background:#FAE8AF;
    color:#524C4C;
    transition:0.2s;
}
.thumbnail_button:focus {
    outline:none;
}
.thumbnail_button:active{
    background:#FAE1F2;
    color:white;
    transition:0.1s;
}
.thumbnail_button i{
    display:block;
    font-size:3rem;
    margin:0.25rem;
}
.thumbnail_create_canvas {
    width:40%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;
    overflow:auto;
    position:relative;
}
.thumbnail_create_canvas_explain {
    position:absolute;
    top:0;
    color:#3B3228;
}
@media (max-width:800px){
    .thumbnail_create_area {
        height:auto;
    }
    .thumbnail_create_video {
        width:100%;
        margin:0.5rem 0;
    }
    .thumbnail_create_button {
        width:100%;
        margin:0.5rem 0;
    }
    .thumbnail_create_canvas {
        width:100%;
        margin:0.5rem 0;

    }

}

/* 動画アップロードタブ */
.upload_tab_radio {
    display:none;
}
.upload_tab_label {
    display:inline-block;
    padding:0.5rem 1rem;
    border:solid 0.1rem orange;
    cursor:pointer;
}

input[type="radio"].upload_tab_radio:checked + label.upload_tab_label {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
.thumbnail_from_movie {display:none; }
.another_thumbnail {display:none; }

input[type="radio"]#upload_tab_1:checked ~ .thumbnail_from_movie { display:block; }
input[type="radio"]#upload_tab_2:checked ~ .another_thumbnail    { display:block; }



/* video list view*/
.index_category_area {
    display:flex;
    flex-wrap:wrap;
}
.index_category {
    color:olive;
}
.index_category:hover {
    color: #FF1A6F;
    font-weight: bold;
    text-decoration: none;
}

.video_content_list {
     display:flex;
     flex-wrap:wrap;
}

.video_content {
    width:17vw;
}

.video_content_link {
    display:block;
    margin:0.5rem;
}
.video_content_link:hover {
    text-decoration:underline;
}

.index_video_content_inner {
    display:flex;
    flex-wrap:wrap;
}
.index_video_content_inner_left {
    width: 15%;
    padding: 10px 1px 1px 1px;
}
.index_video_content_inner_right {
    width: 85%;
    height:auto;
    padding: 10px 0px 10px 0px;
}

.index_usericon {
    width:90%;
    height:auto;
    padding:0.1rem;
    border-radius:50%;
}

.video_title {
    color:#222222;
    font-weight:600;
    width:80%;
}

.video_thumbnail {
    background:#5C5C5C;
    object-fit:contain;
    height:9.2vh;
    width:17vw;
}

.video_value {
    display:flex;
    flex-wrap:wrap;
}
.v_value_span {
    display: block;
    width: 70px;
    color:#72777D;
}

.topic_content {
    width:700px;
}
@media (max-width:800px){
    .topic_content {
        width:100%;
    }
}
@media (min-width:800px){
    .topic_content {
        width:500px;
    }
}
@media (min-width:1050px){
    .topic_content {
        width:700px;
    }
}

.topic_content_inner {
    display:flex;
    flex-wrap:wrap;
}
.topic_content_inner_left {
    width: 10%;
    padding: 10px 1px 1px 1px;
}
.topic_content_inner_right {
    width: 85%;
    height:auto;
    padding: 10px 0px 10px 15px;
}
.topic_usericon {
    width:100%;
    height:auto;
    border-radius:50%;
}
.topic_text {
    display:block;
    width:100%;
    font-size:1rem;
    color:#615F5D;
    padding:0.25rem;
    margin:0.25rem 0;
    border-bottom:solid 0.1rem #F5B387;
    border-right:none;
    border-left:none;
    border-top:none;
    background:white;
    resize:vertical;
    z-index:99;
    cursor:pointer;
}
.topic_text:focus {
    outline:none;
}

@media (max-width:480px){
    .video_content {
        width:calc(100% / 2);
    }

    .index_video_content_inner_left {
        width: 20%;
    }
    .index_video_content_inner_right {
        width: 80%;
    }

    .video_thumbnail {
        height:99px;
        width:176px;
    }
    .v_value_span {
        width: 33%;
    }

}

@media (min-width:480px){
    .video_content {
        width:calc(100% / 2);
    }
    .index_video_content_inner_left {
        width: 20%;
    }
    .index_video_content_inner_right {
        width: 80%;
    }

    .video_thumbnail {
        height:108px;
        width:192px;
    }

}

@media (min-width:600px){
    .video_content {
        width:calc(100% / 2);
    }

    .video_thumbnail {
        height:144px;
        width:256px;
    }

}


@media (min-width:800px){
    .video_content {
        width:calc(100% / 3);
    }

    .video_thumbnail {
        height:135px;
        width:240px;
    }

}

@media (min-width:960px){
    .video_content {
        width:calc(100% / 3);
    }

    .video_thumbnail {
        height:144px;
        width:256px;
    }

}

@media (min-width:1100px){
    .video_content {
        width:calc(100% / 4);
    }
    .video_thumbnail {
        height:153px;
        width:272px;
    }
}
@media (min-width:1500px){
    .video_content {
        width:calc(100% / 5);
    }
    .video_thumbnail {
        height:162px;
        width:288px;
    }
}

@media (min-width:1600px){
    .video_content {
        width:calc(100% / 5);
    }
    .video_thumbnail {
        height:180px;
        width:320px;
    }
}

/* single.html */

.single_video_area {
    margin-top:0.5rem;
    display:flex;
    flex-wrap:wrap;
}
.single_video_content {
    width:70%
}
.single_video_subcontent {
    width:30%;
    color:#5F5663;
}

.single_video_content_inner {
    margin:0 0.5rem;
    text-align:center;

}
.single_video {
    max-width:100%;
    max-height: 70vh;

    width: 100%;
    background: inherit;
}

.single_video_subcontent_inner {
    margin:0 0.5rem;
}


.s_video_sub_inner {
    display:flex;
    flex-wrap:wrap;
}
.s_video_sub_inner_left{
    width: 15%;
    padding: 10px 1px 1px 1px;
}
.s_video_sub_inner_right{
    width: 85%;
    height:auto;
    padding: 10px 0px 10px 0px;
    color:#525252;
}


.video_usericon {
    width:3.7vw;
    height:auto;
    padding:0.1rem;
    border-radius:50%;
}

.subcontent_tab_radio {
    display:none;
}
.subcontent_tab_label {
    padding:0.5rem;
    color:olive;
    border:solid 0.1rem orange;
    cursor:pointer;
    user-select:none;
}
.subcontent_tab_label_area {
    white-space:nowrap;
    overflow-x:auto;
}

.single_video_description { display:none;}
.single_video_comments    { display:none;
                            height:60vh;
                            overflow-y:auto;
}
.single_video_relate      { display:none;
                            height:60vh;
                            overflow-y:auto;
}
.single_video_uploader    { display:none; }
.qr_code_area             { display:none }

.qr_code {
    width:40%;
}

input[type="radio"]#subcontent_tab_1:checked ~ .subcontent_tab_label_area > label[for="subcontent_tab_1"].subcontent_tab_label {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
input[type="radio"]#subcontent_tab_2:checked ~ .subcontent_tab_label_area > label[for="subcontent_tab_2"].subcontent_tab_label    {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
input[type="radio"]#subcontent_tab_3:checked ~ .subcontent_tab_label_area > label[for="subcontent_tab_3"].subcontent_tab_label      {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
input[type="radio"]#subcontent_tab_4:checked ~ .subcontent_tab_label_area > label[for="subcontent_tab_4"].subcontent_tab_label    {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
input[type="radio"]#subcontent_tab_5:checked ~ .subcontent_tab_label_area > label[for="subcontent_tab_5"].subcontent_tab_label    {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}


input[type="radio"]#subcontent_tab_1:checked ~ .single_video_description { display:block; }
input[type="radio"]#subcontent_tab_2:checked ~ .single_video_comments    { display:block; }
input[type="radio"]#subcontent_tab_3:checked ~ .single_video_relate      { display:block; }
input[type="radio"]#subcontent_tab_4:checked ~ .single_video_uploader    { display:block; }
input[type="radio"]#subcontent_tab_5:checked ~ .qr_code_area             { display:block; }


.video_comment_dt {
    display:inline-block;
}

.comment_video_sub_inner{
    display:flex;
    flex-wrap:wrap;
}

.comment_video_sub_inner_left{
    width: 10%;
    padding: 10px 1px 1px 1px;
}
.comment_video_sub_inner_right{
    width: 80%;
    height:auto;
    padding: 10px 0px 10px 0px;
    color:#525252;
    position:relative;
}
/* コメント送信ボタン、mypage.htmlの編集ボタンも */
.v_c_submit_button {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
    margin:0.2rem;
}

/* 動画コメント編集、削除 */
.comment_edit_menu_button {
    display: none;
}

.comment_edit_label {
    position:absolute;
    right:-10%;
    top:0.7rem;
    margin-right:0.2rem;
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}

.comment_edit_label i {
    position:relative;
    font-size:1.5rem;
}
.fa-ellipsis-h {
    color: #FA9623;
}
.fa-ellipsis-h:hover {
    color:#FC441F;
}

.edit_menu1 {
    position:absolute;
    margin-right:0rem;
    right:-9%;
    top:2rem;
    display:none;
    color: #949191;
    z-index:99;
}
.edit_menu2 {
    position:absolute;
    margin-right:0.2rem;
    right:-9%;
    top:4rem;
    display:none;
    color: #949191;
    z-index:99;
}
.edit_menu_closer {
    position:fixed;
    top:3rem;
    right:0.1rem;
    height:calc(100vh - 3rem);
    width:30%;
    background:white;
    opacity:0.3;
    cursor:pointer;
    z-index:97;
    display:none;
}

input[type="checkbox"].comment_edit_menu_button:checked ~ .comment_edit_label i.fa-ellipsis-h{ color:#E771F7; }
input[type="checkbox"].comment_edit_menu_button:checked ~ .edit_menu1 { display:block; }
input[type="checkbox"].comment_edit_menu_button:checked ~ .edit_menu2 { display:block; }
input[type="checkbox"].comment_edit_menu_button:checked ~ .edit_menu_closer{ display:block; }

.v_c_edit_tab {
    display:none;
}
.v_c_delete_button {
    display:none;
}
.v_c_report_tab {
    display:none;
}

.v_c_edit_tab_label {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.v_c_edit_tab_label :hover {
    color:#FC441F;
}
.v_c_report_tab {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.v_c_report_tab_label :hover {
    color:#FC441F;
}

.v_c_edit_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}
.v_c_report_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}

.v_comment_update_form {
    display: none;
    position: relative;
    z-index: 99;
}

.v_comment_content {
    display: block;
}

input[type="checkbox"].v_c_edit_tab:checked ~ .v_c_edit_tab_label i { color:#E771F7; }
input[type="checkbox"].v_c_edit_tab:checked ~ .v_comment_update_form { display:block; }
input[type="checkbox"].v_c_edit_tab:checked ~ .v_comment_content { display:none; }

input[type="checkbox"].v_c_report_tab:checked ~ .v_c_report_tab_label i { color:#E771F7; }
input[type="checkbox"].v_c_report_tab:checked ~ .report_form { display:block; }

.v_c_edit_button {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
}
.report_category {
    color:red;
}

/* comments.html(reply) */
.reply_submit {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
}

.reply_chk {
    display:none;

}
.reply_label{
    border:none;
    cursor:pointer;
}
.reply_area{
    display:none;
}
input[type="checkbox"].reply_chk:checked + .reply_label {
    background: rgb(254,255,189);
    background: linear-gradient(180deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
}
input[type="checkbox"].reply_chk:checked ~ .reply_area {
    display:block;
}


/* videocomment_reply_to_reply */
.reply_to_reply_submit {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
}


.reply_to_reply_chk {
    display:none;
}
.reply_to_reply_label{
    border:none;
    cursor:pointer;
}
.reply_to_reply_area{
    display:none;
}
input[type="checkbox"].reply_to_reply_chk:checked + .reply_to_reply_label {
    background: rgb(254,255,189);
    background: linear-gradient(180deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
}
input[type="checkbox"].reply_to_reply_chk:checked ~ .reply_to_reply_area {
    display:block;
}

/* リプライ編集css */
.reply_edit_menu_button {
    display: none;
}
.reply_edit_label {
    position:absolute;
    right:-25%;
    top:0.7rem;
    margin-right:0.2rem;
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.reply_edit_label i {
    position:relative;
    font-size:1.5rem;
}

.r_edit_menu1 {
    position:absolute;
    margin-right:0rem;
    right:-24%;
    top:2rem;
    display:none;
    color: #949191;
    z-index:99;
}
.r_edit_menu2 {
    position:absolute;
    margin-right:0.2rem;
    right:-24%;
    top:4rem;
    display:none;
    color: #949191;
    z-index:99;
}

.reply_menu_closer {
    position:fixed;
    top:3rem;
    right:0.1rem;
    height:calc(100vh - 3rem);
    width:30%;
    background:white;
    opacity:0.3;
    cursor:pointer;
    z-index:97;
    display:none;
}

input[type="checkbox"].reply_edit_menu_button:checked ~ .reply_edit_label i.fa-ellipsis-h{ color:#E771F7; }
input[type="checkbox"].reply_edit_menu_button:checked ~ .r_edit_menu1 { display:block; }
input[type="checkbox"].reply_edit_menu_button:checked ~ .r_edit_menu2 { display:block; }
input[type="checkbox"].reply_edit_menu_button:checked ~ .reply_menu_closer{ display:block; }

.reply_edit_tab {
    display:none;
}
.reply_delete_button {
    display:none;
}
.reply_report_tab {
    display:none;
}
.reply_edit_tab_label {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.reply_edit_tab_label :hover {
    color:#FC441F;
}

.reply_report_tab {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.reply_report_tab_label :hover {
    color:#FC441F;
}

.reply_edit_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}
.reply_report_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}
.reply_update_form {
    display: none;
    position: relative;
    z-index: 99;
}
.reply_content {
    display: block;
}
.report_form {
    display: none;
    position: relative;
    z-index: 99;
}

input[type="checkbox"].reply_edit_tab:checked ~ .reply_edit_tab_label i { color:#E771F7; }
input[type="checkbox"].reply_edit_tab:checked ~ .reply_update_form { display:block; }
input[type="checkbox"].reply_edit_tab:checked ~ .reply_content { display:none; }

input[type="checkbox"].reply_report_tab:checked ~ .reply_report_tab_label i { color:#E771F7; }
input[type="checkbox"].reply_report_tab:checked ~ .report_form { display:block; }

.reply_edit_button {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
}

/* 動画コメントの reply to reply 編集css*/
.r_to_reply_edit_menu_button {
    display: none;
}
.r_to_reply_edit_label {
    position:absolute;
    right:-43%;
    top:0.7rem;
    margin-right:0.2rem;
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.r_to_reply_edit_label i {
    position:relative;
    font-size:1.5rem;
}

.rtor_edit_menu1 {
    position:absolute;
    margin-right:0rem;
    right:-41%;
    top:2rem;
    display:none;
    color: #949191;
    z-index:99;
}
.rtor_edit_menu2 {
    position:absolute;
    margin-right:0.2rem;
    right:-41%;
    top:4rem;
    display:none;
    color: #949191;
    z-index:99;
}
.r_to_reply_menu_closer {
    position:fixed;
    top:3rem;
    right:0.1rem;
    height:calc(100vh - 3rem);
    width:30%;
    background:white;
    opacity:0.3;
    cursor:pointer;
    z-index:97;
    display:none;
}

input[type="checkbox"].r_to_reply_edit_menu_button:checked ~ .r_to_reply_edit_label i.fa-ellipsis-h{ color:#E771F7; }
input[type="checkbox"].r_to_reply_edit_menu_button:checked ~ .rtor_edit_menu1 { display:block; }
input[type="checkbox"].r_to_reply_edit_menu_button:checked ~ .rtor_edit_menu2 { display:block; }
input[type="checkbox"].r_to_reply_edit_menu_button:checked ~ .r_to_reply_menu_closer{ display:block; }

.r_to_reply_edit_tab {
    display:none;
}
.r_to_reply_delete_button {
    display:none;
}
.r_to_reply_report_tab {
    display:none;
}
.r_to_reply_edit_tab_label {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.r_to_reply_edit_tab_label :hover {
    color:#FC441F;
}

.r_to_reply_report_tab {
    z-index:100;
    cursor:pointer;
    transition:0.2s;
}
.r_to_reply_report_tab_label :hover {
    color:#FC441F;
}

.r_to_reply_edit_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}
.r_to_reply_report_tab_label i {
    position:relative;
    font-size:1.5rem;
    color:#949191;
}
.r_to_reply_update_form {
    display: none;
    position: relative;
    z-index: 99;
}
.r_to_reply_content {
    display: block;
}

input[type="checkbox"].r_to_reply_edit_tab:checked ~ .r_to_reply_edit_tab_label i { color:#E771F7; }
input[type="checkbox"].r_to_reply_edit_tab:checked ~ .r_to_reply_update_form { display:block; }
input[type="checkbox"].r_to_reply_edit_tab:checked ~ .r_to_reply_content { display:none; }

input[type="checkbox"].r_to_reply_report_tab:checked ~ .r_to_reply_report_tab_label i { color:#E771F7; }
input[type="checkbox"].r_to_reply_report_tab:checked ~ .report_form { display:block; }

.r_to_reply_edit_button {
    color: #3377FF;
    border: solid 0.1rem #3377FF;
}

/* 関連動画 relate */
.relate_video_thumbnail {
    background:#5C5C5C;
    object-fit:contain;
    height:12rem;
    width:100%;
}


.relate_video_inner {
    display:flex;
    flex-wrap:wrap;
}
.relate_video_inner_left{
    width: 15%;
    padding: 10px 1px 1px 1px;
}
.relate_video_inner_right{
    width: 85%;
    height:auto;
    padding: 10px 0px 10px 0px;
    color:#525252;
}

/* 投稿者タブ */

.edit_tab_radio {
    display:none;
}
.edit_tab_label {
    display:inline-block;
    color:olive;
    padding:0.5rem 1rem;
    border:solid 0.1rem orange;
    cursor:pointer;
}

input[type="radio"].edit_tab_radio:checked + label.edit_tab_label {
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    border-bottom:none;
}
.edit_form {display:none; }
.delete_form {display:none; }

input[type="radio"]#edit_tab_1:checked ~ .edit_form { display:block; }
input[type="radio"]#edit_tab_2:checked ~ .delete_form { display:block; }

@media (max-width:1300px) {
    .relate_video_thumbnail {
    height:11rem;
    }
}

@media (max-width:940px) {
    .single_video_content {
        width:100%
    }
    .single_video_subcontent {
        width:100%;
    }

    .s_video_sub_inner_left{
        width: 10%;
    }
    .s_video_sub_inner_right{
        width: 90%;
    }

    .video_usericon {
        width:7vw;
        height:auto;
    }
    .edit_menu_closer {
        position:fixed;
        top:60vh;
        right:0;
        height:40vh;
        width:100%;
    }
    .reply_menu_closer {
        position:fixed;
        top:60vh;
        right:0;
        height:40vh;
        width:100%;
    }
    .r_to_reply_menu_closer {
        position:fixed;
        top:60vh;
        right:0;
        height:40vh;
        width:100%;
    }

    .relate_video_thumbnail {
        width:30vw;
        height:10rem;
    }
    .relate_video_content_area {
        display:inline-block;
        width:40%;
    }
    .relate_video_thumbnail {
    width:30vw;
    height:9rem;
    }

}
@media (max-width:650px){
    .relate_video_thumbnail {
        width:30vw;
        height:7rem;
    }
}

@media (max-width:480px){
    .edit_menu_closer {
        position:fixed;
        top:40vh;
        right:0;
        height:60vh;
        width:100%;
    }
    .reply_menu_closer {
        position:fixed;
        top:40vh;
        right:0;
        height:60vh;
        width:100%;
    }
    .r_to_reply_menu_closer {
        position:fixed;
        top:40vh;
        right:0;
        height:60vh;
        width:100%;
    }
    .relate_video_thumbnail {
        width:30vw;
        height:5rem;
    }
}

/* single_video_mod */


.single_video_mod_area {
    display:flex;
    margin:0.5rem;
    width:70%;
}

.single_video_rating_area {
    display:flex;
    width:100%;

}
.single_video_rating_content {
    width:7rem;
    display:flex;
    align-items:center;
}
.single_video_rating_button {
    font-size:2rem;
    cursor:pointer;
    margin:0.25rem 0.5rem;
}
.rating_good:hover {
    color:#0099FF;
    transition:0.2s;
}
.rating_bad:hover {
    color:crimson;
    transition:0.2s;
}
.rating_num {
    font-size:1.25rem;
}

.already_good {
    color:#0099FF;
}
.already_bad {
    color:crimson;
}

.already_good:hover{
    color:crimson;
}
.already_bad:hover {
    color:#0099FF;
}

.mylist_entry:hover {
    color:orange;
    transition:0.2s;
}
.already_mylist {
    color:orange;
}
.already_mylist:hover {
    color:crimson;
}
.video_report_chk {
    display: none;
}
.video_report_bell:hover {
    color:crimson;
    transition:0.2s;
}
.video_report_label{
    padding:0.5rem;
    cursor:pointer;
}
.video_report_form_area{
    display:none;
}

input[type="checkbox"]#video_report_chk:checked ~ .video_report_chk_label_area > label[for="video_report_chk"].video_report_label i.fa-bell{ color:crimson; }

input[type="checkbox"]#video_report_chk:checked ~ #video_report_form_area{ display:block; }
input[type="checkbox"]#video_report_chk:checked ~ .video_report_form_area > .report_form{ display:block; }

.video_description_area{
    height:20vh;
    overflow-y: auto;
    background:white;
}

/* news_area news.html */

.news_area {
    display:block;
    width:50%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    background:#EEFFFF;
    overflow:hidden;
    white-space:nowrap;

    /* HTML改行時のWhiteSpaceを除去 */
    font-size:0rem;
}
.news_slide_area {
    position:relative;
}
.news {
    width:100%;
    font-size:1.2rem;
    display:inline-block;
    overflow:hidden;
    transition:0.2s;
    color:blue;
}
.news:hover {
    color:#FF1A6F;
    transition:0.2s;
}
@media (max-width:800px){
    .news_area {
        width:100%;
    }
}


/* news.html */
.news_head {
    color:#61b0ff;
}
.news_head:hover{
    text-decoration:none;
    color:white;
    background:#6094fc;
}

.news_body_area{
    display:flex;
    flex-wrap:wrap;
}
.news_main_area {
    width:70%;
}
.news_sidebar_area {
    width:30%;
}
@media (max-width:800px){
    .news_main_area { width:100%; }
    .news_sidebar_area { width:100%; }
}
.news_main_inner { margin:1rem; }
.news_sidebar_inner { margin:1rem; }

.news_single {
    padding:1rem 0;
    border:solid 0.15rem #FFCC33;
}
.news_list {
    padding:1rem 0;
    margin:1rem 0;
    border:solid 0.15rem #FFCC33;
}

.news_title {
    display:block;
    font-size:1.75rem;
    font-weight:bold;
    background:#ffbc40;
    color:white;
    padding:0.1rem 0.5rem;
}
.news_title:hover {
    text-decoration:none;
    color:#EF9300;
    background:white;
}
.news_detail_area {
    margin:0.5rem 1rem;
}
.news_detail_link{
    display:inline-block;
    border:solid 0.1rem #FFCC33;
    padding:0.1rem 0.25rem;
    transition:0.2s;
    color:#525252;
}
.news_detail_link:hover{
    background:#FFCC33;
    color:black;
    text-decoration:none;
    transition:0.2s;
}
.news_content_area {
    margin:0.5rem;
    font-size:1.1rem;
}
.news_read_button_area {
    text-align:right;
}
.news_read_button {
    display:inline-block;
    padding:0.25rem 1.5rem;
    margin:0 1rem;
    border:solid 0.15rem #FFCC33;
    color:#525252;
    text-align:center;
    transition:0.2s;
}
.news_read_button:hover {
    background:#FFCC33;
    color:black;
    text-decoration:none;
    transition:0.2s;
}
.sidebar_link {
    font-size:1.15rem;
    color:#cc8400;
}
.sidebar_link:hover {
    text-decoration:underline;
    color:black;
    text-decoration:none;
}
.sidebar_form {
    justify-content:left;
}
.sidebar_font {
    font-size:1.1rem;
}
.sidebar_submit{
    width:20%;
}


.news_search_form {
    display:flex;
    justify-content:left;
}
.news_search_form_word {
    display:block;
    width:80%;
    font-size:1.2rem;
    padding:0.25rem;
    margin:0.25rem 0;
    border:solid 0.15rem transparent;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(205,255,255,1) 95%, rgba(151,228,255,1) 100%);
    color:#2d3030;
}
.news_search_form_word:focus {
    outline:none;
    background:white;
    box-shadow:1px 1px 1px 0px #7388FF;
    color:#041381;
}
.news_search_form_submit {
    width:20%;
    display:block;
    padding:0.25rem;
    margin:0.25rem 0;
    font-size:1.2rem;
    color:#61605B;
    background: rgb(238,251,255);
    background: linear-gradient(135deg, rgba(238,251,255,1) 0%, rgba(205,243,255,1) 90%, rgba(151,167,255,1) 100%);
    border:solid 0.15rem #A4C6FF;
    cursor:pointer;
    outline:none;
}
.news_search_form_submit:hover {
    color:white;
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,204,76,1) 45%, rgba(251,233,141,1) 100%);
    border:solid 0.15rem #FFC829;
    cursor:pointer;
    outline:none;
}
.news_search_form_submit:active {
    transform: rotateY(360deg);
    background: linear-gradient(145deg, rgba(254,255,189,1) 0%, rgba(251,204,76,1) 45%, rgba(251,233,141,1) 100%);
    border:solid 0.15rem #FFC829;
    transition:0.4s;
    color:white;
    outline:none;
}
@media (max-width:800px){

    .news_search_form_word {
        width:80%;
    }
    .news_search_form_submit {
        width:20%;
    }
}





/* search_form.html */
.search_form_area {
}
.search_form {
    display:flex;
    justify-content:center;
}
.search_form_word {
    display:block;
    width:40%;
    font-size:1.2rem;
    padding:0.25rem;
    margin:0.25rem 0;
    border:solid 0.15rem transparent;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(205,255,255,1) 95%, rgba(151,228,255,1) 100%);
    color:#2d3030;
}
.search_form_word:focus {
    outline:none;
    background:white;
    box-shadow:1px 1px 1px 0px #7388FF;
    color:#041381;
}
.search_form_submit {
    width:7%;
    display:block;
    padding:0.25rem;
    margin:0.25rem 0;
    font-size:1.2rem;
    color:#61605B;
    background: rgb(238,251,255);
    background: linear-gradient(135deg, rgba(238,251,255,1) 0%, rgba(205,243,255,1) 90%, rgba(151,167,255,1) 100%);
    border:solid 0.15rem #A4C6FF;
    cursor:pointer;
    outline:none;
}
.search_form_submit:hover {
    color:white;
    background: rgb(254,255,189);
    background: linear-gradient(45deg, rgba(254,255,189,1) 0%, rgba(251,204,76,1) 45%, rgba(251,233,141,1) 100%);
    border:solid 0.15rem #FFC829;
    cursor:pointer;
    outline:none;
}
.search_form_submit:active {
    transform: rotateY(360deg);
    background: linear-gradient(145deg, rgba(254,255,189,1) 0%, rgba(251,204,76,1) 45%, rgba(251,233,141,1) 100%);
    border:solid 0.15rem #FFC829;
    transition:0.4s;
    color:white;
    outline:none;
}
@media (max-width:800px){

    .search_form_word {
        width:80%;
    }
    .search_form_submit {
        width:20%;
    }
}

/* search.html */

.pagination_area {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0.5rem 0;
    background:#F7F7C9;
}

.pagination_content {
    width:calc(100% / 10);
    text-align:center;
    font-size:1.25rem;
}
.pagination_button {
    padding:0.5rem;
    border:solid 0.10rem #F5B387;
    background:white;
    color:inherit;
    cursor:pointer;
    transition:0.2s;
}
.pagination_button:hover {
    background: rgb(254,255,189);
    background: linear-gradient(145deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
    transition:0.2s;
}

/* コメントーページネーションのボタン属性*/
#now_flag {
    background: rgb(254,255,189);
    background: linear-gradient(180deg, rgba(254,255,189,1) 0%, rgba(251,203,76,1) 45%, rgba(235,251,141,1) 100%);
}

/* list view (history.html mylist.html) */
.video_list_view {
    display:flex;
    background:white;
    margin:0.5rem 0;
}
.video_list_view:hover { background:#FFFFEE;}

.video_list_thumbnail_area {
    width:25%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:solid 1px #89B375;
}
.video_list_thumbnail {
    width:9rem;
    margin:0.5rem;
    display: flex;
    align-content: center;
}
.video_list_description_area {
    width:75%;
}

.video_list_description_inner {
    padding:0.5rem;
    border-bottom:solid 1px #89B375;
}
.video_list_description_overflow {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow:ellipsis;
}

.video_list_title {
    margin:0.25rem 0;
}
.video_list_title_link {
    color:gray;
}
.video_list_title_link:hover {
    text-decoration:underline;
    color:black;
}
.mylist_chk {
    display:none;
}
.mylist_chk:checked {
    display:block;
}
.mylist_chk_label{
    width:100%
}
input[type="checkbox"].mylist_chk:checked + label.mylist_chk_label > .video_list_view { background:#EEFFFF; }

@media (max-width:800px){

    .video_list_thumbnail_area {
        width:20%;
    }
    .video_list_description_area {
        width:60%;
    }

}


/* mypage_base.html */
.mypage_content_area {
    display:flex;
    flex-wrap:wrap;

}
.mypage_menu {
    width:30%;
}
.mypage_content {
    width:70%;
}
.mypage_content_body {
    margin:0.5rem;
    color:#222222;
}

.mypage_usericon {
    width:15rem;
    height:15rem;
    padding:0.5rem;
    margin-left:0.5rem;
    border-radius:50%;
}

.mypage_thumbnail {
    background:#5C5C5C;
    object-fit:contain;
    width:272px;
    height:153px;
}

.mypage_video_content {
    display:inline-block;
    width: 20vw;
    width:calc(100% / 4);
}

.mypage_introduction_area {
    border-collapse: separate;
}

.mypage_introduction_area table, tr, td{
    border-bottom: 1px solid silver;
}
.mypage_introduction_area tr td:nth-child(2) {
    width: 78%;
    border-bottom: 1px solid silver;
}




/* マイページのアイコン登録*/
.icon_canvas {
    display:block;
    width:300px;
    position: relative;
}

.user-icon-dnd-wrapper {
    position: relative;
    width:10rem;
    height:5rem;
    display:none;
    padding:0.3rem;
    margin-left:0.5rem;
}

#drop_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 5rem;
  text-align: center;
  background: snow;
  border: 2px dashed orange;
  cursor: pointer;
}

#icon_clear_button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  font-size:2rem;
  color: #FAF200;
  cursor: pointer;
}

#icon_clear_button:hover {
    color: #FA3F00;
}

#icon_upload1 {
    display: none;
}

.scaling {
    width:300px;
}

/* ユーザーアイコンアップロードタブ */

#icon_upload_form {
    display:none;
    position: relative;
    width:300px;
}
#information_update_form {
    display:block;
    position: relative;
}


@media (max-width:480px){
    .mypage_video_content {
        width:45vw;
        width:calc(100% / 2);
    }

    .mypage_thumbnail {
        height:99px;
        width:176px;
    }


    .mypage_usericon {
        width:30vw;
        height:auto;
        padding:0.3rem;
        margin-left:0.5rem;
        border-radius:50%;
    }

    .mypage_introduction_area tr td:nth-child(2) {
        width: 63%;
    }
}

@media (min-width:481px){
    .mypage_video_content {
        width:31vw;
        width:calc(100% / 2);
    }

    .mypage_thumbnail {
        height:126px;
        width:224px;
    }
}

@media (min-width:600px){
    .mypage_video_content {
        width:27vw;
        width:calc(100% / 2);
    }
    .mypage_thumbnail {
    height:126px;
    width:224px;
    }
}

@media (min-width:800px){
    .mypage_video_content {
        width:27vw;
        width:calc(100% / 2);
    }
    .mypage_thumbnail {
    height:126px;
    width:224px;
    }
}
@media (min-width:960px){
    .mypage_video_content {
        width:24vw;
        width:calc(100% / 3);
    }
    .mypage_thumbnail {
        height:126px;
        width:224px;
    }
}
@media (min-width:1400px){
    .mypage_video_content {
        width:20vw;
        width:calc(100% / 3);
    }
    .mypage_thumbnail {
    height:126px;
    width:224px;
    }
}
@media (min-width:1500px){
    .mypage_video_content {
        width:20vw;
        width:calc(100% / 4);
    }
    .mypage_thumbnail {
    height:135px;
    width:240px;
    }
}

@media (min-width:1800px){
    .mypage_video_content {
        width:20vw;
        width:calc(100% / 5);
    }
    .mypage_thumbnail {
    height:135px;
    width:240px;
    }
}

/* menu folding works sp only ! */
.mypage_menu_chk {
    display:none;
}
.mypage_menu_label {
    display:none;
}
.mypage_menu_area {
    display:flex;
    flex-wrap:wrap;
    margin:0.5rem;
}
.menu_content {
    width:calc(100% / 3);
    margin:0.25rem 0;
    padding:0.5rem 0;
}

.menu_icon {
    display:block;
    text-align:center;
    background:#E1FECD;
    color:#003CFF;
    margin:0.25rem;
    padding:0.5rem;
    border:solid 1px #89B375;
    height:100%;
}
.menu_icon:hover,.menu_icon:active{
    color: #FA9623;
    background:white;
    transition: 0.1s;
    border: solid 1px orange;
}
.menu_icon i {
    font-size:2.5rem;
    padding:0.5rem;
}
.menu_explain{
    font-size:1.2rem;
    font-weight:bold;
}

/* mypage_base.html SP MODE */
@media (max-width:800px){

    .mypage_menu {
        margin-top:0.5rem;
        width:100%;
    }
    .mypage_content {
        width:100%;
    }
    .menu_content {
        width:calc(100% / 2);
    }
    .mypage_menu_label {
        display:block;
        background:#EBFADC;
        font-weight:bold;
        padding:0.5rem;
        cursor:pointer;
        position:relative;
    }
    .mypage_menu_area{
        visibility:hidden;
        height:0;
        margin:0;
        overflow:scroll;
        transition:0.2s;
    }
    /* TODO:アニメーション折りたたみにする。visibility:visible */
    input[type="checkbox"].mypage_menu_chk:checked ~ .mypage_menu_area {
        display:flex;
        visibility:visible;
        height:40vh;
        margin: 0.25rem 0;
        transition:0.2s;
    }
    .menu_icon i {
        font-size:2.25rem;
    }
    .menu_explain{
        font-size:1.1rem;
    }
}

/* usersingle.html, 全体のタブシステム*/


.usersingle_usericon {
    width:12rem;
    height:12rem;
    padding:0.5rem;
    margin-left:0.5rem;
    border-radius:50%;
}

@media (max-width:480px){
    .usersingle_usericon {
        width:30vw;
        height:auto;
        padding:0.3rem;
        margin-left:0.5rem;
        border-radius:50%;
    }
}

.array {
    margin:0.5rem 0;
}
.usersingle_form{
    display:inline-block;
}

.tab_system_radio{
    display:none;
}
.tab_system_label_area{
    white-space:nowrap;
    overflow-x:auto;
}
.tab_system_label{
    display:inline-block;
    border:solid 0.1rem orange;
    padding:0.5rem 1rem;
    cursor:pointer;
    user-select:none;
    color:olive;
}
.tab_system_label:hover{
    background:white;
    color:black;
}
.tab_system_area{
    display:none;
}

input[type="radio"]#tab_system_radio_0:checked ~ .tab_system_label_area > label[for="tab_system_radio_0"].tab_system_label{ background:#ffbc7a; color:black; border:solid 0.1rem #ff7f00;}
input[type="radio"]#tab_system_radio_1:checked ~ .tab_system_label_area > label[for="tab_system_radio_1"].tab_system_label{ background:#ffff7a; color:black; border:solid 0.1rem #ffff00;}
input[type="radio"]#tab_system_radio_2:checked ~ .tab_system_label_area > label[for="tab_system_radio_2"].tab_system_label{ background:#bcff7a; color:black; border:solid 0.1rem #7fff00;}
input[type="radio"]#tab_system_radio_3:checked ~ .tab_system_label_area > label[for="tab_system_radio_3"].tab_system_label{ background:#7affbc; color:black; border:solid 0.1rem #00ff7f;}
input[type="radio"]#tab_system_radio_4:checked ~ .tab_system_label_area > label[for="tab_system_radio_4"].tab_system_label{ background:#7affff; color:black; border:solid 0.1rem #00ffff;}
input[type="radio"]#tab_system_radio_5:checked ~ .tab_system_label_area > label[for="tab_system_radio_5"].tab_system_label{ background:#ff7aff; color:black; border:solid 0.1rem #ff00ff;}
input[type="radio"]#tab_system_radio_6:checked ~ .tab_system_label_area > label[for="tab_system_radio_6"].tab_system_label{ background:#ff7abc; color:black; border:solid 0.1rem #ff007f;}

input[type="radio"]#tab_system_radio_0:checked ~ #tab_system_area_0{ display:block; }
input[type="radio"]#tab_system_radio_1:checked ~ #tab_system_area_1{ display:block; }
input[type="radio"]#tab_system_radio_2:checked ~ #tab_system_area_2{ display:block; }
input[type="radio"]#tab_system_radio_3:checked ~ #tab_system_area_3{ display:block; }
input[type="radio"]#tab_system_radio_4:checked ~ #tab_system_area_4{ display:block; }
input[type="radio"]#tab_system_radio_5:checked ~ #tab_system_area_5{ display:block; }
input[type="radio"]#tab_system_radio_6:checked ~ #tab_system_area_6{ display:block; }

/* usersingle.html フォロー、フォロワー*/
.user_single_inner {
    width:20rem;
    height:5rem;
    display:inline-block;
    background:white;
}
.user_single_inner:hover {
    background:#EBEBE9;
    color:black;
}
.user_single_sub_inner{
    display:flex;
    flex-wrap:wrap;
}
.user_single_sub_inner_left {
    width:15%;
}
.user_single_sub_inner_right {
    width:85%;
    padding: 0 0 0 0.1rem;
    position:relative;
}
.follow_btn_area {
    position:absolute;
    right:0;
    top:0;
}
.follow_btn {
    border-radius:1.2rem;
}

.user_single_p {
    padding-top:0.3rem;
}
.usersingle_video_content{
    margin:0 1rem;
}

/* notify.html */

.notify_control_area{
    margin:0.5rem 0;
    text-align:right;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
}
.notify_control_button{
    display:inline-block;
    padding:0.25rem 0.5rem;
    border:solid 0.15rem #599BFF;
    background:inherit;
    border-radius:0.25rem;
    color:#599BFF;
    font-weight:bold;
    cursor:pointer;
    user-select:none;
    transition:0.2s;
}
.notify_control_button:hover{
    background:#599BFF;
    color: white;
    font-weight:bold;
    transition:0.2s;
}

.notify_content_area {
    margin:0.25rem 0;
}
.notify_content_chk{
    display:none;
}
.notify_content_label{
    display:block;
    background: white;
    border-bottom:solid 0.15rem #FA9623;
    font-size:1.35rem;
    font-weight:bold;
    padding:0.75rem 0.5rem;
    cursor:pointer;
}
.notify_content_label i{
    padding:0 0.5rem;
    color:orange;
}
.notify_content_body{
    display:none;
    border-left:solid 0.15rem #FA9623;
    border-right:none;
    border-bottom:solid 0.15rem #FA9623;
    padding:0.25rem;
    background: white;

}
input[type="checkbox"].notify_content_chk:checked ~ .notify_content_label{
}
input[type="checkbox"].notify_content_chk:checked ~ .notify_content_body{
    display:block;
}

.notify_content{
    padding:1rem;
    font-size:1.1rem;
}

.notify_dt {
    font-size:0.9rem;
    text-align:right;
    color:gray;
}

.notify_p {
    color:#8282FF;
    margin-top:0.7rem;
    margin-bottom:0rem;
    font-size:20px;
}

.notify_content_inner {
    display:flex;
    flex-wrap:wrap;
    background:white;
}
.notify_content_inner:hover {
    background:#FFFFEE;
}
.notify_comment_area_left {
    width: 50%;
    height:auto;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    color:#4B4D4A;
    border-bottom:solid 0.1rem #FA9623;
}
.notify_comment_area_middle {
    width: 50%;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color:#4B4D4A;
    border-bottom:solid 0.1rem #FA9623;
}

.notify_comment_area_1 {
    width: 10%;
    display:inline-block;
    vertical-align: top;
}

.notify_comment_area_2 {
    width: 85%;
    display:inline-block;
}
.notify_usericon{
    width:100%;
    border-radius:50%;
}
.fa-youtube{color:#FA9623;}

.notify_comment {
    display:none;
}
.notify_comment:checked {
    display:block;
}
.notify_comment_label {
    width:100%
}
input[type="checkbox"].notify_comment:checked + label.notify_comment_label > .notify_content_inner { background:#EEFFFF; }


/* 動画アップロードhtmlに流用*/
.notify_chk {
    display:none;
}
.notify_chk_label{
    font-size:1.2rem;
    display:inline-block;
    cursor:pointer;
    position:relative;
}
.notify_chk_label:before{
    content:'';
    width:1.7rem;
    height:1.7rem;
    display:inline-block;
    background-color:#DDFFEE;
    box-shadow:inset 1px 1px 2px 0px #525252;
    border-radius: 25%;
}
input[type="checkbox"].notify_chk:checked + .notify_chk_label:before{
    background-color:orange;
    content:'\2713';
    font-size:1.4rem;
    font-weight:bold;
    color:#fff;
    background-color:orange;
}

/* user_policy.html */
.userpolicy_form {
    width: 100%;
    padding: 0;
    margin: 0.2rem;
}

/* rank.html ランキング◯位に対しての装飾 */
.ranking_header { color:#daa520; }
.data_preview_frame:nth-child(1) > .rank_header { color:#daa520; }
.data_preview_frame:nth-child(2) > .rank_header { color:#a0a2a2; }
.data_preview_frame:nth-child(3) > .rank_header { color:brown; }


/* slider system */

.data_preview_area {
    margin:0.5rem 0;
    overflow-x:auto;
    white-space:nowrap;
    word-break: break-all;
}
.data_preview_frame {
    width:calc(100% / 5);
    display:inline-block;
    white-space:normal;
    vertical-align:middle;
}
.data_preview_content {
    display:block;
    margin:0 0.5rem;

    font-weight:bold;
    overflow-y:hidden;
}
.data_preview_content:hover{
    text-decoration:underline;
}
.data_preview_header{
    font-size:1.25rem;
    font-weight:bold;
    text-shadow:gold 0 1px 0;
}
.data_preview_content_thumbnail {
    text-align:center;
}
.data_preview_content_title {
}


@media (max-width:800px){
    .data_preview_frame {
        width:calc(100% / 3);
    }


}

/* slider system Control Area */
.preview_control_area {
    position:relative;
}
.previous_button {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);

}
.next_button {
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
}
.control_button {
    background:white;
    border:solid 0.1rem black;
    border-radius:0.25rem;
    padding:0.5rem;
    margin:0 0.25rem;
    cursor:pointer;
    font-size:1.5rem;
    font-weight:bold;
    opacity:0.5;
    transition:0.2s;
}
.control_button:hover {
    background:black;
    color:white;

    opacity:0.8;
    transition:0.2s;
}

/* config.html single.html*/
.comment_refuse_btn {
    display:none;
}
.comment_refuse_label {
    display:inline-block;
    position:relative;

    width:3rem;
    height:1.5rem;
    border-radius:2rem;
    background:gray;

    cursor:pointer;
    transition:0.2s;
    box-shadow:0 4px 4px -2px #333 inset;
}
.comment_refuse_label::before {
    content:"";
    position:absolute;
    background:white;
    top:-1px;
    right:50%;
    width:1.5rem;
    height:1.5rem;
    border:1px solid gray;
    border-radius:1.5rem;
    transition:0.2s;
    box-shadow:4px 0 4px -2px #333;
}
input[type="checkbox"].comment_refuse_btn:checked + label.comment_refuse_label{
    background:orange;
}
input[type="checkbox"].comment_refuse_btn:checked + label.comment_refuse_label::before{
    right:0;
}
.video_comment_refuse_form {
    display:flex;
    flex-wrap:wrap;
}

.comment_approval_btn {
    display:none;
}
.comment_approval_label {
    display:inline-block;
    position:relative;

    width:3rem;
    height:1.5rem;
    border-radius:2rem;
    background:gray;

    cursor:pointer;
    transition:0.2s;
    box-shadow:0 4px 4px -2px #333 inset;
}
.comment_approval_label::before {
    content:"";
    position:absolute;
    background:white;
    top:-1px;
    right:50%;
    width:1.5rem;
    height:1.5rem;
    border:1px solid gray;
    border-radius:1.5rem;
    transition:0.2s;
    box-shadow:4px 0 4px -2px #333;
}
input[type="checkbox"].comment_approval_btn:checked + label.comment_approval_label{
    background:orange;
}
input[type="checkbox"].comment_approval_btn:checked + label.comment_approval_label::before{
    right:0;
}
.video_comment_approval_form {
    display:flex;
    flex-wrap:wrap;
}

.config_style {
    margin-left:1rem;
    font-size:1.2rem;
}
/* ボタンのcss */

/* 動画投稿ボタン */
.btn-gradient-radius {
  display: inline-block;
  padding: 0.5rem 2rem;
  border:solid 0.12rem #F5B387;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #f76e00;
  background: rgb(189,255,170);
  background: linear-gradient(135deg, rgba(189,255,170,1) 0%, rgba(233,254,149,1) 50%, rgba(253,255,187,1) 100%);
  transition: .2s;
}

.btn-gradient-radius:hover {
  background: rgb(189,255,170);
  background: linear-gradient(40deg, rgba(189,255,170,1) 0%, rgba(227,255,114,1) 50%, rgba(251,255,129,1) 100%);
  color:#1C2245;
}

/* 動画投稿欄編集済 */
.sort {
       float: right;
       margin-right: 10%;
       font-size: 1.5rem;
       color: silver;
}
