{% extends "tube/mypage_base.html" %}
{% load humanize %}
{% load static %}
{% load param_change %}


{% block extra_head %}
{{ block.super }}

<script src="{% static 'tube/js/usericon.js' %}"></script>

{% endblock %}

{% block mypage_content %}



    <h2 class="word_blue">基本情報</h2>

    <table>
        {% if custom_user.usericon %}
        <tr id="mypage_usericon_area">
            {% include "tube/mypage/mypage_usericon.html" %}
        </tr>
        {% endif %}
    </table>

    <table class="mypage_introduction_area">
        <tr>
            <td>ユーザー名</td>
            <td>{{ custom_user.username }}</td>
        </tr>
        <tr>
            <td>ハンドルネーム</td>
            <td>{{ custom_user.handle_name }}</td>
        </tr>
        <tr>
            <td>最終ログイン</td>
            <td>{{ custom_user.last_login }}</td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>{{ custom_user.email }}</td>
        </tr>
        <tr>
            <td>自己紹介</td>
            <td>{{ custom_user.self_introduction|linebreaksbr|urlize }}</td>
        </tr>
    </table></br>

    <input id="tab_system_radio_1" class="tab_system_radio" type="radio" name="tab_system_radio" checked>
    <input id="tab_system_radio_2" class="tab_system_radio" type="radio" name="tab_system_radio">
    <input id="tab_system_radio_3" class="tab_system_radio" type="radio" name="tab_system_radio">
    <input id="tab_system_radio_4" class="tab_system_radio" type="radio" name="tab_system_radio">

        <div class="tab_system_label_area">
            <label class="tab_system_label" for="tab_system_radio_1">投稿動画</label>
            <label class="tab_system_label" for="tab_system_radio_2">高く評価した動画</label>
            <label class="tab_system_label" for="tab_system_radio_3">アイコン登録/変更</label>
            <label class="tab_system_label" for="tab_system_radio_4">基本情報登録/変更</label>
        </div>
        <div id="tab_system_area_1" class="tab_system_area">

        {% if amount > 0 %}
        <ul><li>{{ amount }}件中、{{ videos|length }}件表示しています。</li></ul>
        {% endif %}

            <div class="video_content_list">
                {% for video in videos %}
                <div class="mypage_video_content">
                    <a class="video_content_link" href="{% url 'tube:single' video.id %}">
                        {% if video.thumbnail %}
                        <img class="mypage_thumbnail" src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                        {% else %}
                        <img class="mypage_thumbnail" src="{% static 'tube/img/no_image.jpg' %}" alt="{{ video.title }}">
                        {% endif %}
                    </a>

                    <div class="index_video_content_inner">
                        <div class="index_video_content_inner_left">
                            {% if video.user.usericon %}
                            <a href="{% url 'tube:usersingle' video.user.id %}"><img class="index_usericon" src="{{ video.user.usericon.url }}" alt="icon"></a>
                            {% else %}
                            <a href="{% url 'tube:usersingle' video.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                            {% endif %}
                        </div>

                        <div class="index_video_content_inner_right">
                            <a href="{% url 'tube:single' video.id %}"><div class="video_title">{{ video.title|truncatechars_html:25 }}</div></a>
                            <a href="{% url 'tube:usersingle' video.user.id %}"><div>{{ video.user.handle_name }} </div></a>

                            <div class="video_value">
                                <span class="v_value_span"><i class="far fa-play-circle"></i>{{ video.views|intcomma }}</span>
                                <span class="v_value_span"><i class="far fa-comment"></i>{{ video.comment.all|length }}</span>
                                <span class="v_value_span"><i class="far fa-list-alt"></i>{{ video.video_mylist.all|length }}</span>
                            </div>
                            <div class="word">{{ video.dt }}</div>
                            <div class="word">{{ video.category }}</div>
                        </div>
                    </div>


                </div>
                {% empty %}
                <div class="mypage_video_content"><p>投稿した動画はありません。<a href="{% url 'tube:upload' %}">アップロード</a>から投稿できます。</p></div>
                {% endfor %}
            </div>
            {% generate_pagelink request "page" "1" videos.paginator.num_pages videos.number %}
        </div>

        <div id="tab_system_area_2" class="tab_system_area">

            {% if g_amount > 0 %}
            <ul><li>{{ g_amount }}件中、{{ good_videos|length }}件表示しています。</li></ul>
            {% endif %}

            <div class="video_content_list">
                {% for video in good_videos %}
                <div class="mypage_video_content">
                    <a class="video_content_link" href="{% url 'tube:single' video.target.id %}">
                        {% if video.target.thumbnail %}
                        <img class="mypage_thumbnail" src="{{ video.target.thumbnail.url }}" alt="{{ video.target.title }}">
                        {% else %}
                        <img class="mypage_thumbnail" src="{% static 'tube/img/no_image.jpg' %}" alt="{{ video.target.title }}">
                        {% endif %}
                    </a>

                    <div class="index_video_content_inner">
                        <div class="index_video_content_inner_left">
                            {% if video.target.user.usericon %}
                            <a href="{% url 'tube:usersingle' video.target.user.id %}"><img class="index_usericon" src="{{ video.target.user.usericon.url }}" alt="icon"></a>
                            {% else %}
                            <a href="{% url 'tube:usersingle' video.target.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                            {% endif %}
                        </div>

                        <div class="index_video_content_inner_right">
                            <a href="{% url 'tube:single' video.target.id %}"><div class="video_title">{{ video.target.title|truncatechars_html:25 }}</div></a>
                            <a href="{% url 'tube:usersingle' video.target.user.id %}"><div>{{ video.target.user.handle_name }} </div></a>

                            <div class="video_value">
                                <span class="v_value_span"><i class="far fa-play-circle"></i>{{ video.target.views|intcomma }}</span>
                                <span class="v_value_span"><i class="far fa-comment"></i>{{ video.target.comment.all|length }}</span>
                                <span class="v_value_span"><i class="far fa-list-alt"></i>{{ video.target.video_mylist.all|length }}</span>
                            </div>
                            <div class="word">{{ video.target.dt }}</div>
                            <div class="word">{{ video.target.category }}</div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <div>高く評価した動画はありません。</div>
                {% endfor %}
            </div>
            {% generate_pagelink request "page" "1" good_videos.paginator.num_pages good_videos.number %}
        </div>

        <div id="tab_system_area_3" class="tab_system_area">

            <div>
                <div class="user-icon-dnd-wrapper">
                    <input id="icon_upload1" type="file" name="usericon" accept=".jpg,.png">
                    <div id="drop_area">drag and drop<br>or<br>click here.</div>
                </div>

                <form id="icon_upload_form" name="icon_upload_form" method="POST" action="{% url 'tube:mypage' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="icon_canvas">
                        <div id="icon_clear_button"><i class="far fa-times-circle"></i></div>
                        <input id='scal' class="scaling" type='range' value='' min='5' max='400'><br>
                        <canvas id='cvs' width='300' height='300'></canvas><br>
                        <input id="icon_upload2" class="btn-gradient-radius" type="button" value="送信">
                    </div>
                </form>
            </div>
            <div id="upload_message" class="upload_message"></div>

        </div>
        <div id="tab_system_area_4" class="tab_system_area">
            <form id="information_update_form" action="{% url 'tube:useredit' request.user.id %}"  method="POST">
                {% csrf_token %}
                <input class="input_form_text" type="text" value="{{ request.user.handle_name }}" name="handle_name" placeholder="ハンドルネーム">
                <textarea class="textarea_form" name="self_introduction" rows="4" placeholder="自己紹介">{{ request.user.self_introduction }} </textarea>
                <button class="v_c_submit_button btn btn-outline-primary" type="submit"><i class="far fa-paper-plane"></i></button>
            </form>
        </div>

{% endblock %}
