{% extends "common/sidebar.html" %}
{% load static %}

{% block page_title %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'tube/css/style.css' %}">
<script src="{% static 'tube/js/script.js' %}"></script>

<script src="{% static 'common/js/ajax.js' %}"></script>
{% endblock %}

{% block header_title %}TubeIntegrity{% endblock %}

{% block header_right_content %}
    {% if request.user.is_authenticated %}

        <a class="header_icon" href="{% url 'tube:notify' %}" aria-label="notify">
            {% if request.user.notify_num %}
            <i class="fas fa-bell"></i>
            <span class="header_notify_num">{{ request.user.notify_num  }}</span>
            {% else %}
            <i class="far fa-bell"></i>
            {% endif %}
        </a>

        {% if request.user.usericon %}
        <a href="{% url 'tube:mypage' %}" aria-label="mypage">
            <img class="usericon" src="{{ request.user.usericon.url }}" alt="icon">
        </a>
        {% else %}
        <a class="header_icon" href="{% url 'tube:mypage' %}" aria-label="mypage">
            <i class="fas fa-user"></i>
        </a>
        {% endif %}

    {% else %}
        <a class="header_icon" href="{% url 'account_signup' %}" aria-label="signup">
            <i class="fas fa-user-plus"></i>
        </a>
        <a class="header_icon" href="{% url 'account_login' %}" aria-label="login">
            <i class="fas fa-sign-in-alt"></i>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar_content %}
<div class="sidebar_content_area">

    <div class="sidebar_content">
        <a href="{% url 'tube:rank' %}" class="sidebar_icon"><i class="fas fa-crown"></i><div class="sidebar_explain">Ranking</div></a>
    </div>

    <div class="sidebar_content">
        <a href="{% url 'tube:search' %}" class="sidebar_icon"><i class="far fa-lightbulb"></i><div class="sidebar_explain">New Videos</div></a>
    </div>

    {% if request.user.is_authenticated %}
    {#  認証済みユーザーのアイコン #}
    <div class="sidebar_content">
        <a href="{% url 'tube:usersingle' request.user.id %}" class="sidebar_icon"><i class="fas fa-home"></i><div class="sidebar_explain">Home</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:mypage' %}" class="sidebar_icon"><i class="fas fa-user"></i><div class="sidebar_explain">MyPage</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:notify' %}" class="sidebar_icon"><i class="far fa-bell"></i><div class="sidebar_explain">Notice</div></a>
    </div>
    <div class="sidebar_content">
    <a href="{% url 'tube:history' %}" class="sidebar_icon"><i class="fas fa-history"></i><div class="sidebar_explain">History</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:mylist' %}" class="sidebar_icon"><i class="far fa-list-alt"></i><div class="sidebar_explain">MyList</div></a>
    </div>

    {% comment %}
    <div class="sidebar_content">
        <a href="{% url 'tube:recommend' %}" class="sidebar_icon"><i class="far fa-star"></i><div class="sidebar_explain">おすすめ</div></a>
    </div>
    {% endcomment %}

    <div class="sidebar_content">
        <a href="{% url 'tube:upload' %}" class="sidebar_icon"><i class="far fa-file-video"></i><div class="sidebar_explain">Upload</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:advertising_video' %}" class="sidebar_icon"><i class="fas fa-ad"></i><div class="sidebar_explain">Advertisement</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:config' %}" class="sidebar_icon"><i class="fas fa-cogs"></i><div class="sidebar_explain">Config</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'account_logout' %}" class="sidebar_icon"><i class="fas fa-sign-out-alt"></i><div class="sidebar_explain">Logout</div></a>
    </div>
    {% else %}

    {# 未認証ユーザーのアイコン #}
    <div class="sidebar_content">
        <a href="{% url 'account_signup' %}" class="sidebar_icon"><i class="fas fa-user-plus"></i><div class="sidebar_explain">Sign-up</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'account_login' %}" class="sidebar_icon"><i class="fas fa-sign-in-alt"></i><div class="sidebar_explain">Login</div></a>
    </div>
    {% endif %}

    {% comment %}
    <div class="sidebar_content">
        <a href="" class="sidebar_icon"><i class="far fa-question-circle"></i><div class="sidebar_explain">ヘルプ</div></a>
    </div>
    {% endcomment %}

    <div class="sidebar_content">
        <a href="{% url 'tube:user_policy' %}" class="sidebar_icon"><i class="fas fa-book"></i><div class="sidebar_explain">UserPolicy</div></a>
    </div>
    <div class="sidebar_content">
        <a href="{% url 'tube:news' %}" class="sidebar_icon"><i class="fas fa-info-circle"></i><div class="sidebar_explain">News</div></a>
    </div>
</div>
{% endblock %}

{% block main %}
{% endblock %}

