{% extends "tube/base.html" %}
{% load humanize %}
{% load static %}
{% load param_change %}



{% block main %}

    {% include "tube/search_form.html" %}

    {% if amount > 0 %}
    <div>{{ amount }}件中、{{ videos|length }}件表示しています。</div>
    {% endif %}


     <div class="video_content_list">
         {% for video in videos %}
             <div class="video_content">
                 <a class="video_content_link" href="{% url 'tube:single' video.id %}">

                     {% if video.thumbnail %}
                     <img class="video_thumbnail" src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                     {% else %}
                     <img class="video_thumbnail" src="{% static 'tube/img/no_image.jpg' %}" alt="{{ video.title }}">
                     {% endif %}
                 </a>

                    <div class="index_video_content_inner">
                        <div class="index_video_content_inner_left">
                            {% if video.user.usericon %}
                            <a href="{% url 'tube:usersingle' video.user.id %}"><img class="index_usericon" src="{{ video.user.usericon.url }}" alt="icon"></a>
                            {% else %}
                            <a href="{% url 'tube:usersingle' video.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                            {% endif %}
                        </div>

                        <div class="index_video_content_inner_right">
                            <a href="{% url 'tube:single' video.id %}">
                                <div class="video_title">{{ video.title|truncatechars_html:25 }}</div>
                            </a>
                            <a href="{% url 'tube:usersingle' video.user.id %}"><div>{{ video.user.handle_name }}</div></a>

                            <div class="video_value">
                                <span class="v_value_span"><i class="far fa-play-circle"></i>{{ video.views|intcomma }}</span>
                                <span class="v_value_span"><i class="far fa-comments"></i>{{ video.comment.all|length }}</span>
                                <span class="v_value_span"><i class="far fa-list-alt"></i>{{ video.video_mylist.all|length }}</span>
                            </div>

                            <div>{{ video.dt|date:"Y年m月d日" }}</div>
                        </div>
                    </div>

             </div>
         {% empty %}
             <div>動画は見つかりませんでした。</div>
         {% endfor %}
     </div>


     {% generate_pagelink request "page" "1" videos.paginator.num_pages videos.number %}

{% endblock %}
